.hero {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    font-family: "Source Code Pro";
    color: #29ABC2;
}

.info {
    margin-left: 200px;
    color: #3B828F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    color:#02CEF4;
    text-align: center;
}

header {
    text-align: center;
    color: #29ABC2;
    border: 2px solid #02CEF4;
    background-color: #38565C;
}

header img {
    width: 300px;
    height: 300px
}

body {
    background-color: #293233;
}

#hobbies ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#hobbies ul li {
    flex: 1 1 200px; 
    margin: 20px;
    padding: 15px;
    color: #29ABC2;
    text-align: center;
}


footer {
    color: #02CEF4;
    border: 2px solid #02CEF4;
    padding: 10px;
    background-color: #38565C;
}